[submodule "FreeSHR-Playbooks"]
	path = FreeSHR-Playbooks
	url = https://github.com/SharedHealth/FreeSHR-Playbooks.git
	branch = master
[submodule "openmrs-module-bdshrclient"]
	path = openmrs-module-bdshrclient
	url = https://github.com/SharedHealth/openmrs-module-bdshrclient.git
	branch = master
