[submodule "openmrs-module-bdshrclient"]
	path = openmrs-module-bdshrclient
	url = https://github.com/SharedHealth/openmrs-module-bdshrclient.git
	branch = master
[submodule "openmrs-module-terminology_atomfeed_client"]
	path = openmrs-module-terminology_atomfeed_client
	url = https://github.com/SharedHealth/openmrs-module-terminology_atomfeed_client.git
[submodule "FreeSHR-Bahmni-Playbooks"]
	path = FreeSHR-Bahmni-Playbooks
	url = https://github.com/SharedHealth/FreeSHR-Bahmni-Playbooks.git
[submodule "bdshr-config"]
	path = bdshr-config
	url = git@github.com:SharedHealth/bdshr-config.git
